[tool.poetry]
name = "ktoolbox"
version = "0.1.0"
description = "A useful CLI tool for downloading posts in Kemono.party / .su"
authors = ["Ljzd-PRO <ljzd@office.ljzd-pro.asia>"]
readme = "README.md"
homepage = "https://github.com/Ljzd-PRO/KToolBox"
repository = "https://github.com/Ljzd-PRO/KToolBox"
documentation = "https://github.com/Ljzd-PRO/KToolBox/wiki"
keywords = ["kemono", "kemono.party", "cli-app", "downloader", "os-independent"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Development Status :: 5 - Production/Stable",
    "Topic :: Terminals",
]

packages = [{ include = "ktoolbox" }]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/Ljzd-PRO/KToolBox/issues"

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
pydantic = "^2.4.2"
pydantic-settings = "^2.0.3"
tenacity = "^8.2.3"
httpx = "<=0.25.0"
fire = "^0.5.0"
tqdm = "^4.66.1"
loguru = "^0.7.2"
aiofiles = "^23.2.1"
pathvalidate = "^3.2.0"

#[tool.poetry.group.uvloop.dependencies]
#uvloop = "^0.17.0"

[tool.poetry.group.pyinstaller.dependencies]
pyinstaller = "==6.1.0"

[tool.poetry.group.test.dependencies]
pytest = "==7.4.3"
pytest-html = "==4.1.1"
pytest-asyncio = "==0.21.1"
pytest-cov = "==4.1.0"
allpairspy = "==2.5.1"

[tool.poetry.group.dev.dependencies]
datamodel-code-generator = "^0.22.1"

#[tool.poetry.group.uvloop]
#optional = true

[tool.poetry.group.pyinstaller]
optional = true

[tool.poetry.group.test]
optional = true

[tool.poetry.group.dev]
optional = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
