pydantic>=2.4.2,<2.6.0
pydantic-settings>=2.0.3,<2.2.0
tenacity~=8.2.3
httpx<=0.25.0
fire~=0.5.0
tqdm~=4.66.1
loguru~=0.7.2
aiofiles~=23.2.1
pathvalidate~=3.2.0

# Test
pytest==7.4.3
pytest-html==4.1.1
pytest-asyncio==0.21.1
allpairspy==2.5.1
pytest-cov==4.1.0
